html, body {
   margin:0;
   padding:0;
   height:100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.chat-container {
    min-height:100%;
    position:relative;
}

.button-container {
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
    display:flex;
}

.message-container {
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
    display:flex;
}

.form-control {
    width: 100%;
    /* background-color: grey; */
}

.footer {
    /* position:absolute; */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
 }

 .body-container {
    position: relative;
 }

 .chat-body {
     padding: 475px 0;
 }