.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 350px;
    height: 375px;
}

.card-header {
    text-align: center;
}

.card-container {
    padding-top: 80px;
}

