.navbar{
    background-color:#192A56
}
.navbar-brand{
    color: white;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.modal-header{
    background-color:#192A56
}
.modal-footer {
    background-color:#192A56
}