.table {
    table-layout:auto;
    width: 1700px;
    position: relative;
    right:150px;
  
}

.td .rating{
    background-color: antiquewhite
}

.td .comments {
    background-color: bisque;
}

.button {
    position: relative;
}

.span .grouping{
    margin-left: 1;
}
.nothelpful{
    margin-left: 1.5rem;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
}

.tablecontainer {
    padding: 0 10%;
}

.table thead  {
    vertical-align: bottom;
    border-bottom: 1px solid #192A56;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #192A56;
    
}
.table-header{
    color:green;
    font-size:20px;
}
.table-header1{
    color:green;
    font-size:20px;
    position: relative;
    right:150px;
}
.date{
    color:green;
}
.rating-type{
    color:green;
}
.textbook{
    color: green;
}
.commentsParagrah{
    color:green;
}

.course{
    color:green;
    font-size: 20px;
    position:relative;
    right:150px;
}
.professor{
    color:green;
    font-size: 20px;
    position:relative;
    right:150px;
}
.value{
    color:#192A56;
    font-size: 20px;
   
}
.value1{
    position:relative;
    right:150px;
    color:#192A56;
    font-size: 20px;
}
.response{
    color:#192A56;
    font-size: 20px;
}
.count{
    color:green;
    background-color: aliceblue
}
.helpful{
    background-color:aliceblue;
    position:relative;
    right:410px;
    bottom:210px;
    align-items: center;
}
.nothelpful{
    background-color:aliceblue;
    position:relative;
    right:600px;
    bottom:210px;
    align-items: center;
}
.edit{
    background-color:aliceblue;
    position:relative;
    left:250px;
    /* right: 10px; */
    bottom:300px;  
    align-items: center;
}
.delete{
    background-color:aliceblue;
    position:relative;
     left:350px;
     bottom:300px;  
    align-items: center;
}
.edit-spa{
    color:green;
    background-color: aliceblue
}
.delete-spa{
    color:green;
    background-color: aliceblue
}
.addreview{
    position: absolute;
    top:100px;
    right:50px;
}