.my-form{
   text-align: left; 
   position: relative; 
}
.searchlabel{
   text-align: center;
   right:500px;
   position: relative;
}
.showlink {
   padding: 0.4rem 0.8rem;
   border-radius: 3px;
   color: #192A56;
}

.showlink:hover {
   background-color: transparent;
   color: #192A56;
   text-decoration: underline;
}