.my-form{
   text-align: center; 
   position: relative; 
   top: 90px;
   margin-left: 200px;
   color: green;
   font-stretch: expanded;

   letter-spacing: 2px;
   display: inline-block;
   font-size: 32px;
   transform: scaleY(0.9);
   transform-origin: 0 0;
   margin-bottom: -30%;
   
}
.searchlabel{
   text-align: center;  
   position: relative;
   bottom: 150px;
   font-family: 'Times New Roman', Times, serif;
   font-weight:900;
   font-stretch: expanded;
}
.showlink {
   padding: 0.4rem 0.8rem;
   border-radius: 3px;
   color: #192A56;
   position: relative;
   top: 100px;
   margin-left:390px;
   font-family: 'Times New Roman', Times, serif;
   font-stretch: expanded;

   letter-spacing: 1px;
   display: inline-block;
   font-size: 20px;
   transform: scaleY(0.9);
   transform-origin: 0 0;
   margin-bottom: -30%;
}

.showlink:hover {
   background-color: transparent;
   color: green;
   text-decoration: underline;
   letter-spacing: 1px;
   display: inline-block;
   font-size: 20px;
   transform: scaleY(0.9);
   transform-origin: 0 0;
   margin-bottom: -30%;
}
.searchbox{
   width: 720px;
   border: 1px solid black
   
}