.clsRow{
    justify-content: center;
    display: inline;
    flex-direction: column;
}
.clsindirows{
    padding: 2rem;
    flex: 100% 1;
    flex-direction: column;
    height: 6rem;
    border-bottom: 1px solid #192A56;
    color:green;
    font-size:15px;
}
.clsindirows:last-child{
    border-bottom: none;
}

.card {
    width: 75%;
    margin-bottom: 10px;
    float: none;
    margin: 0 auto;
}
.value{
    color:#192A56;
}