.navbar{
    background-color:#192A56
}
.navbar-brand {
    color: white;
    font: outline;
    padding-bottom: 0px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.modal-header{
    background-color:#192A56
}
.modal-footer {
    padding-left: 41%;
    padding-right: 41%;
    background-color: #192A56;
    margin-left: 0%;
    display: inline-block!important;
}
.clsFormDiv{
    padding:20px 20px !important;
}
.clsSignupForm{
 padding:0px;
 margin:0px;
}
.clsSignupBtn{
    margin: 0%!important;
}