.p-image:hover {
  cursor: pointer;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
  position: relative;
}

.file-upload {
  position: relative;
  left: 325px;
}

.rounded-circle {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  display: block;
  margin: 0 auto;
  top: 72px;
}
.p-image {
  position: absolute;
  top: 230px;
  right: 300px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.pl-2 {
  margin-top:250px;
}

.chat-container {
  position: relative;
  max-width: 100%;
  background-color: lightgray;
  max-height: 50%;
}

.card {
overflow: hidden;
background-color: #d8d8d8;
margin-bottom: 0rem;


}

.scroll {
  max-height: 100%;
  overflow-y: auto;
}

.card-body {
  color: black;
}

.text-secondary {
  color: black !important;
}

.cycle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.col-3 {
  height: 100%;
  padding: 0px;
  border-radius: 10px;
}