.p-image:hover {
    cursor: pointer;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    position: relative;
    /* background: yellow; */
}

.file-upload {
    /* left:270px; */
    /* margin-bottom: 55px; */
    /* margin-top: 45px; */
    position: relative;
    left: 325px;
}

.rounded-circle {
    /* border-radius: 6000px !important; */
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    display: block;
    margin: 0 auto;
    top: 72px;
}
.p-image {
    position: absolute;
    top: 230px;
    right: 300px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }
  .pl-2 {
    margin-top:250px;
  }

  /* .container-fluid {
    text-align: center;
    height: 100%;
    width: 100%;
  } */

.chat-container {
    text-align: center;
    position: relative;
    left: 50px;
    background-color: lightgray;
    max-height: 100%;
}

.card {
  overflow: hidden;
  background-color: #d8d8d8;
}

  .scroll {
    max-height: 100%;
    overflow-y: auto;
}